{% extends 'layout.html' %}
{% block title %}KnowHow ServiceDesk DashBoard{% endblock %}
{% block navTitle %}Κεντρική Σελίδα KnowHow Service Desk Web Service{% endblock %}

{% block content %}
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div class="card shadow rounded">
      <div class="card-body"><h5 class="card-title"><strong>Ανοιχτά Συμβάντα</strong></h5>
    <!-- Incindents List Goes Here -->
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Incident Title</th>
              <th scope="col">Category</th>
              <th scope="col">Customer</th>
              <th scope="col">Date</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for item in allIncidents %}
              <tr>
                <th scope="row">{{ item.id }}</th>
                <td><a href="{{ url_for('EditTicket', id=item.id) }}">{{ item.title }}</a></td>
                <td>{{ item.category.cat_name }}</td>
                <td>{{ item.customers[0].lastname }}, {{ item.customers[0].firstname }}</td>
                <td>{{ item.start_date.strftime('%d/%m/%Y-%H:%M') }}</td>
                <td><a class="btn btn-sm btn-outline btn-dark btn-href" role="button" href="{{ url_for('EditTicket', id=item.id) }}"><i class="fas fa-edit"></i> Edit</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
