{% extends 'layout.html' %}
{% block title %}KnowHow Ticket Form{% endblock %}
{% block navTitle %}KnowHow Service Desk Web Service Φόρμα Νέου Συμβάτος{% endblock %}

{% block content %}
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div class="card shadow rounded">
      <div class="card-body"><h5 class="card-title"><strong>Φόρμα Αναζήτησης Πελάτη</strong></h5>
        <form method="POST" role="form">
          {{ seekCustForm.csrf_token }}
          <div class="row">
            <div class="col-lg form-group"><label for="mobilePhone" class="control-label">{{ seekCustForm.mobilePhone.label }}</label>
              {{ seekCustForm.mobilePhone(class_='form-control shadow frmRounded', placeholder='Αριθμός Κινητού Πελάτη') }}
            </div>
            <div class="col-lg form-group"><label for="lastname" class="control-label">{{ seekCustForm.lastName.label }}</label>
              {{ seekCustForm.lastName(class_='form-control shadow frmRounded', placeholder='Επίθετο Πελάτη') }}
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-lg">
              <input type="submit" class="btn box-shadow--4dp btn-dark btn-href" value="Αναζήτηση" name="submit">
            </div>
          </div>
          <br />
          {% for flashMsg in get_flashed_messages() %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ flashMsg }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          {% endfor %}
        </form>
      </div>
    </div>
  </div>
</div>
<br />
{% endblock %}
